<form action="/register" method="post" class="h-screen flex flex-col gap-3 max-w-xs mx-auto justify-center items-center">

  <h1 class="text-2x1 text-neutral-300 p-4">Register</h1>


    <input name="name" type="text" placeholder="Name" class="input input-bordered input-warning w-full max-w-xs" />
<input name="sername" type="Surname" placeholder="Surname" class="input input-bordered input-warning w-full max-w-xs" />

<input name="username" type="text" placeholder="Username" class="input input-bordered input-warning w-full max-w-xs" />
<input name="password" type="password" placeholder="password" class="input input-bordered input-warning w-full max-w-xs" />
<button class="btn btn-primary w-full">Register</button>


</form>